@model QLyHS1.Models.StudentDetailViewModel
@{
    ViewData["Title"] = "Thêm học sinh";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Học Sinh</title>
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Update.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>
<body class="body">
    <div class="table_Detail">
        <div class="Detail_form">
            <p>Thêm học sinh</p>
            <button onclick="window.location.href='@Url.Action("Index", "Student")'" class="btn-back">Quay lại</button>
        </div>
        <form asp-action="Add" asp-controller="Student" method="post" class="Form_Add">
            <div class="form-group">
                <label for="ClassID" class="control-label">Tên lớp:</label>
                <select id="ClassID" asp-for="ClassID" asp-items="ViewBag.Classroom" class="form-control size_1">
                    <option value="">-- Chọn lớp --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên Học Sinh:</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label">Giới Tính</label>
                <select asp-for="Gender" class="form-control" class="size_1">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Ngày Sinh:</label>
                <input asp-for="DateOfBirth" type="date" class="form-control size_1" />
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại:</label>
                <input asp-for="Phone" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PhoneParent" class="control-label">Liên hệ phụ huynh:</label>
                <input asp-for="PhoneParent" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Địa Chỉ:</label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="btn_form">
                <a asp-action="Index" class="cancel-btn">Hủy</a>
                <button class="btn-back btn_save" type="submit">Thêm</button>
            </div>
        </form>
    </div>
</body>
</html>
