<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
   
    <body>
        <footer>
            <p>Bản quyền © 2024. Tất cả quyền được bảo lưu.</p>
        </footer>
    </body>
</html>

