<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <header>
        <h1>Phần mềm Quản lý Học sinh và Lớp học</h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="#"><span class="icon">&#127968;</span>Trang Chủ</a></li>
        </ul>

        <div class="user-dropdown">
            <button>Admin ▼</button>
            <div class="user-dropdown-content">
                <a href="#">Đổi mật khẩu</a>
                <a href="#">Thoát</a>
            </div>
        </div>
    </nav>
</body>
</html>
