@model QLyHS1.Models.ScheduleDetailViewModel
@{
    ViewData["Title"] = "Thêm thời khóa biểu";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Giáo Viên</title>
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Update.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>
<body class="body">
    <div class="table_Detail">
        <div class="Detail_form">
            <p>Thêm lớp học</p>
            <button onclick="window.location.href='@Url.Action("Index", "Teacher")'" class="btn-back">Quay lại</button>
        </div>
        <form asp-action="Add" asp-controller="Schedule" method="Form_Add">
            <div class="form-group">
                <label for="SubjectId" class="control-label">Tên môn:</label>
                <select id="SubjectId" asp-for="SubjectId" asp-items="ViewBag.Subject" class="form-control">
                    <option value="">-- Chọn môn --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="TeacherId" class="control-label">Tên giáo viên:</label>
                <select id="ClassID" asp-for="TeacherId" asp-items="ViewBag.Teacher" class="form-control">
                    <option value="">-- Chọn giáo viên --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ClassRoom" class="control-label">Phòng học:</label>
                <input type="text" id="ClassRoom" name="ClassRoom" required />
            </div>

            <div class="form-group">
                <label for="DayOfWeek" class="control-label">Số tuần:</label>
                <input type="number" id="DayOfWeek" name="DayOfWeek" required />
            </div>

            <div class="form-group">
                <label for="Infomation" class="control-label">Thông tin:</label>
                <input type="text" id="Infomation" name="Infomation" required />
            </div>
            <div class="form-group">
                <label for="StartTime" class="control-label">Ngày bắt đầu:</label>
                <input type="date" id="StartTime" name="StartTime" required />
            </div>
            <div class="form-group">
                <label for="EndTime" class="control-label">Ngày kết thúc:</label>
                <input type="date" id="EndTime" name="EndTime" required />
            </div>
            <div class="btn_form">
                <a asp-action="Index" class="cancel-btn">Hủy</a>
                <button class="btn-back btn_save" type="submit">Thêm</button>
            </div>
        </form>
    </div>
</body>
</html>