@model QLyHS1.Models.ScheduleToEditViewModel
@{
    ViewData["Title"] = "Thời khóa biểu";
}

<link rel="stylesheet" href="~/css/tmpAdd.css">
    
<div class="edit-container">
    <h1>Chỉnh sửa thời khóa biểu</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="SubjectId" class="control-label">Môn học: </label>
                    <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherId" class="control-label">Giáo viên: </label>
                    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassRoom" class="control-label">Phòng học: </label>
                    <input asp-for="ClassRoom" class="form-control" />
                    <span asp-validation-for="ClassRoom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DayOfWeek" class="control-label">Số tuần: </label>
                    <input asp-for="DayOfWeek" class="form-control" />
                    <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Infomation" class="control-label">Thông tin: </label>
                    <input asp-for="Infomation" class="form-control" />
                    <span asp-validation-for="Infomation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label">Thời gian bắt đầu: </label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime" class="control-label">Thời gian kết thúc:</label>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Quay lại</a>
    </div>
</div>
