@model QLyHS1.Models.ClassroomDetailViewModel
@{
    ViewData["Title"] = "Thêm lớp học";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Giáo Viên</title>
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Update.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>
<body class="body">
    <div class="table_Detail">
        <div class="Detail_form">
            <p>Thêm lớp học</p>
            <button onclick="window.location.href='@Url.Action("Index", "Teacher")'" class="btn-back">Quay lại</button>
        </div>
        <form asp-action="Add" asp-controller="Classroom" method="post">
            <div class="form-group">
                <label for="TeacherID" class="control-label">Teacher:</label>
                <select id="TeacherID" asp-for="TeacherID" asp-items="ViewBag.Teacher" class="form-control">
                    <option value="">-- Chọn giáo viên--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="GrandLevelID" class="control-label">Grade Level:</label>
                <select id="GrandLevelID" asp-for="GrandLevelID" asp-items="ViewBag.GrandLevel" class="form-control">
                    <option value="">-- Chọn khối lớp --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name" class="control-label">Name:</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
                <label for="quantity" class="control-label">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required />
            </div>

            <div class="btn_form">
                <a asp-action="Index" class="cancel-btn">Hủy</a>
                <button class="btn-back btn_save" type="submit">Thêm</button>
            </div>
        </form>
    </div>
</body>
</html>
