@model QLyHS1.Models.ClassroomDetailToEditViewModel
@{
    ViewData["Title"] = "Chỉnh Sửa Thông Tin Lớp Học";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí học sinh</title>
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Update.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>

<body class="body">

    <!-- -------------------------------------- -->
    <div class="table_Detail">
        <div class="Detail_form">
            <p>Chỉnh Sửa Thông Tin Lớp Học</p>
            <button onclick="window.location.href='@Url.Action("Index", "Classroom")'" class="btn-back">Quay lại</button>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TeacherID" class="control-label"></label>
                <select asp-for="TeacherID" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="TeacherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrandLevelID" class="control-label"></label>
                <select asp-for="GrandLevelID" class="form-control" asp-items="ViewBag.GrandLevelId"></select>
                <span asp-validation-for="GrandLevelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái: </label>
                <select asp-for="Status" class="form-control">
                    <option value="true">Mở</option>
                    <option value="false">Đóng</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateAt" class="control-label"></label>
                <input asp-for="UpdateAt" class="form-control" />
                <span asp-validation-for="UpdateAt" class="text-danger"></span>
            </div>
            <div class="btn_form">
                <a asp-action="Index" class="cancel-btn">Hủy</a>
                <button class="btn-back btn_save" type="submit">Lưu Thay Đổi</button>
            </div>
        </form>
    </div>

</body>

</html>