li.Stt_li {
    max-width: 50px;
    padding-left: 50px;
}

li.Name_li {
    max-width: 150px;
    padding-left: 30px;
}

li.Gender_li {
    max-width: 100px;
    padding-left: 30px;
}

li.Birthday_li {
    max-width: 100px;
}
li.ClassName_li {
    max-width: 100px;
    padding-left: 30px;
}

li.Address_li {
    max-width: 200px;
    padding-left: 30px;
}

li.ParentPhone_li {
    max-width: 200px;
    padding-left: 30px;
}

li.combo_li {
    max-width: 200px;
}

styled-top.li {
    margin: 2px
}