
.search-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

    .search-container input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .search-container .btn-search,
    .search-container .btn-add,
    .search-container .btn-edit,
    .search-container .btn-refresh {
        padding: 10px 15px;
        margin-left: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: white;
        font-size: 14px;
    }

.btn-search {
    background-color: #007bff;
}

.btn-add {
    background-color: #28a745;
}

.btn-edit {
    background-color: #ffc107;
}

.btn-refresh {
    background-color: #ff5722;
}


.list-container {
    width: 1200px;
}

    /* Tiêu đề của khung */
    /*.list-container ul {
        display: flex;
        list-style-type: none;
    }*/

/* Định kiểu danh sách */
/*.styled-list {
    padding-left: 20px;*/ /* Căn chỉnh danh sách */
    /*margin: 0;
    width: 1300px;*/ /* Chiều rộng khung */
    /*border: 0px solid #3498db;*/ /* Đường viền */
    /*border-radius: 10px;*/ /* Bo tròn góc khung */
    /*background-color: #f0f8ff;*/ /* Màu nền nhạt */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/ /* Đổ bóng */
    /*max-height: 350px;*/ /* Giới hạn chiều cao khung */
    /*overflow-y: auto;*/ /* Hiển thị thanh cuộn nếu nội dung vượt quá chiều cao */
/*}
    .styled-list ul {
        display: flex;*/ /* Sử dụng flexbox */
        /*padding: 10px 0;*/ /* Khoảng cách bên trong mỗi hàng */
        /*border-bottom: 1px solid #ddd;*/ /* Viền dưới ngăn cách từng hàng */
    /*}*/
 
    /* Định kiểu từng mục */
    /*.styled-list li {
        flex: 1;*/ /* Độ rộng các mục */
        /*text-align: center;*/ /* Căn giữa chữ */
        /*list-style: none;*/ /* Loại bỏ dấu đầu dòng */
        /*word-wrap: break-word;*/ /* Ngắt từ nếu quá dài */
        /*padding: 5px;
    }
        .styled-list li a {
            color: #007bff;*/ /* Màu xanh */
            /*text-decoration: none;*/ /* Loại bỏ gạch chân */
        /*}
        .styled-list li[colspan="7"] {
            text-align: center;
            font-style: italic;
            color: #999;
        }
.styled-top {
    border: 1px solid #ccc;
    text-align: left;
    background-color: #007bff;
    color: white;
    margin: 0;
    display: flex;
}

    .styled-top li {
        padding: 10px 55px 10px 50px;
    }
.student-table li {
    background-color: #007bff;
    color: white;
}


.container_student {
    margin: 10px 0 0px 50px;
}*/