@model QLyHS1.Data.Subject

@{
    ViewData["Title"] = "Quản lý môn học";
}
<link rel="stylesheet" href="~/CSSP/Base.css">
<link rel="stylesheet" href="~/CSSP/Hearder.css">
<link rel="stylesheet" href="~/CSSP/Menu.css">
<link rel="stylesheet" href="~/CSSP/Delete.css">
<link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">

<body class="body">
    <div class="table_Detail">
        <div class="Detail_form">
            <p>Xóa môn học</p>
            <h3>Bạn có chắc chắn xóa môn học này?</h3>
            <button onclick="window.location.href='@Url.Action("Index", "Subject")'" class="btn-back">Quay lại</button>
        </div>
        <form asp-action="Delete" asp-controller="Subject" method="post" class="form_1">
        <div class="detail-item">
            <div>
                <strong>Tên môn học:</strong>
            </div>
            <div>
                @Model.Name
            </div>
        </div>

        <div class="detail-item">
            <div>
                <strong>Ngày cập nhật:</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.UpdateAt)
            </div>
        </div>

        <div class="detail-item">
            <div>
                <strong>Trạng thái:</strong>
            </div>
            <div>
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>

            <div class="btn_form">
                <a asp-action="Index" class="cancel-btn">Hủy</a>
                <button class="btn-back btn_save" type="submit">Xóa</button>
            </div>
        </form>
    </div>

   
</body>
